<%= link_to '< Annuler', cocktails_path %>
<div style="padding: 15px"></div>
<h3>Ajoutez un cocktail :</h3>
<div style="padding: 10px"></div>
<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name, label: "Donnez-lui un nom :" %>
  <%= f.button :submit, "Ajouter"%>
<% end %>
